{% load jsonify %}
<!DOCTYPE html>

<html lang="en">
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<head>
    <title>Home</title>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}kathe.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.23.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script>
    </head>
    
    
<body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
            	<div class="container">
                    <div class="nav-collapse collapse">
                  
                        <ul class="menuPpal nav">
                        <li class="pull-left"><a href="http://www.votainteligente.cl"><img src="{{ STATIC_URL }}images/logoVotaMunicipales.png" style="margin-left: -16px; margin-right: 169px;"></a> </li>
                        <li class="dentroMenu pull-right"><a href="#">¿Quiénes Somos?</a></li>
                        <li class="dentroMenu pull-right"><a href="#">Metodología</a></li>
                        
                        <li class="dentroMenu pull-right"><form class="navbar-search pull-right">
                            <input type="text" class="search-query" placeholder="Buscar una comuna">
                           	</form></li>
                        </ul>
                            
                    </div>
           		 </div>
             </div>
        </div>
          
          
         
           
         
         <div class="container">  	
                
                    
                
                
                <div class="buscadorPpal">
                
                <h3> <center>Conoce a tus candidatos y elige a tu media naranja </center></h3>
                <center><form class="form-search"> <p> Escribe el nombre de la comuna que te interesa</p>
                <input type="text" id="comunas-search" class="input-xxlarge search-query"> 
                <button type="submit" class="btn">Buscar</button>
                </form> </center> </div> 
        
         <div class=" alertaVota alert fade in">
                        <button class="close" data-dismiss="alert" type="button"> × </button>
                        	<a class="close" data-dismiss="alert" href="https://www.accesointeligente.org/AccesoInteligente/#home" target="_blank"> <img src="{{ STATIC_URL }}images/logoVota.png"/>  ¿Andas en busca de nuestro Vota Inteligente? Encuéntralo aquí! <img src="{{ STATIC_URL }}images/logoVota.png"/>&nbsp; &nbsp;</a>
                        </div>
       
         
       										  <script>
												$(document).ready(function() {
													// Handler for .ready() called.
													 $("#dyna img[title]").tooltip({
											   		offset: [10, 2],
											  		 effect: 'slide'
														});
												});
											</script>
          
    	
    	<div class="container">
         <div class="row queHacemos">
                <div class="span6 subTitulosHomeInfo">
                
                 <button class="btn btn-block btn-inverse" id="dyna" <a href="#" title="Completar Buscador Superior"> <img src="{{ STATIC_URL }}images/iconoInfoHome.png" style="float: right;"/> Info Municipal 
                    </a> </button>
                
                <br/>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
				</div>
               
                
                <div class="span3 subTitulosHomePreguntar">
                
                <button class="btn btn-block btn-inverse"> <a href="#"> Preguntar <img src="{{ STATIC_URL }}images/iconoPregunta2.png" style="float: right;"/> </a></button> 
                <br/>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
              
                
                <div class="span3 subTitulosHomeReportar"> 
                <button class="btn btn-block btn-inverse"> <a href="./reporta.html"> Reportar<img src="images/iconoReporta.png" style="float: right;"/> </a></button>
                <br/>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                
         </div>
        </div>
        
        <br/>
        <br />
        
        <div class="container">
         <div class="row">
                <div class="span6">
                <h5>Video 1</h5>
				<img src="{{ STATIC_URL }}images/ejemplo-video.png" />
				</div>
                <div class="span6">
                <h5>Video 2</h5>
				<img src="{{ STATIC_URL }}images/ejemplo-video.png" /> 
				</div>
        </div> 
        
       </div>
        </div>
        
        
        
        
        
        <footer class="footer">
                    <div class="container">
                    	<div class="pull-left">
                        <ul class="footer">
                            <li> <a href="http://www.videocampaña.cl"> link camapaña </a> </li>
                            <li> <a href="http://www.videocampaña.cl"> Municipales en el vaso</a> </li>
                            <li> <a href="http://www.videocampaña.cl"> link camapaña </a> </li>
                            <li> <a href="http://www.videocampaña.cl"> Municipales en el vaso</a> </li>
                        </ul>
                        </div>
                        
                        <div>
                        <ul>
                            <li class="itemFooter pull-left"> <a href="#"> <img src="{{ STATIC_URL }}images/techoLogo.png"/> </a> </li>
                            <li class="itemFooter pull-left"> <a href="#"> <img src="{{ STATIC_URL }}images/igualesLogo.png"/></a> </li>
                            <li class="itemFooter pull-left"> <a href="#"> <img src="{{ STATIC_URL }}images/casaPazLogo.png"/></a> </li>
                            <li class="itemFooter pull-left"> <a href="#"> <img src="{{ STATIC_URL }}images/educacionLogo.png"/></a> </li>
                            <li class="itemFooter pull-left"> <a href="#"> <img src="{{ STATIC_URL }}images/FCILogo.png"/></a> </li>
                        </ul>
                        </div>
                  </div>
            </footer>
	
	
	<script>
	$(function() {
		var availableTags = [{% for comuna in comunas %}
		{label:"{{comuna.nombre}}",value:"{{comuna.slug}}"}{% if not forloop.last %},{% endif %}
		{% endfor %}

		];
		$( "#comunas-search" ).autocomplete({
			source: availableTags
		});
		$( "#comunas-search" ).autocomplete({
		   select: function(event, ui) { 
		   	$( "#comunas-search" ).val( ui.item.label );
		   	console.log(ui.item.slug)
		   	return false;
		   }
		});
	});
	</script>

	
    
   	
    
</body>
</html>