{% extends "base_sub_menu.html" %}
{% block content %}


   
           
         
         <div class="container">    
                
                    
                <div class="barra_noticias">
                    <ul style="position: absolute; margin: 0px; top: 0px; ">
                        {%for ultima_pregunta in ultimas_preguntas%}
                       <li><strong>{{ultima_pregunta.remitente|truncatechars:30}}</strong> preguntó: "{{ultima_pregunta.texto_pregunta|truncatechars:200}}"</li>
                       {%endfor%}
                       {%for ultima_respuesta in ultimas_respuestas%}
                       <li><strong>{{ultima_respuesta.candidato.nombre|truncatechars:30}}</strong> Respondió: {{ultima_respuesta.texto_respuesta|truncatechars:200}} <a href="/{{ultima_respuesta.candidato.comuna.slug}}/">Ver</a></li>
                       {%endfor%}
                   </ul>
                </div>
                
                <div class="buscadorPpal">
                
                <img class="candidatos" src="{{ STATIC_URL }}images/candidatos.png" alt="">
                
                <h3> <center>Revisa y comparte información de tu comuna y candidatos </center></h3>
                <center>
                    <form class="form-search form-search-comuna"> <p> Escribe el nombre de la comuna que te interesa</p>
                <input type="text" id="comunas-search" class="input-xxlarge search-query comunas-search"> 
                <p class="comuna-search-error">Debes seleccionar una comuna</p>
                <br/> <br/>
                <p> <em> Hazle pregúntas a los candidatos | Elige a tu media naranja | Fiscaliza 
                </em></p> 
                </form>

                    

                 </center> </div> 
                 <!-- ticker ultimas preguntas y respuestas -->
<script type="text/javascript">
    $(document).ready(function(){
        $('.barra_noticias').easyTicker({
            visible: 1,
            interval: 5000
        });
    });
</script>
        
<!-- growl -->
    <script type="text/javascript">
      var notice = '<div class="notice">'
        +'<div class="notice-body">'
          + '<p>¿Andas en busca de nuestro antiguo Vota Inteligente? (Información del Congreso)</p>'
        + '</div>'
        + '<div class="notice-bottom">'
          + '<p><a class="btn btn-info" href="http://legislativo.votainteligente.cl" target="_blank">Encuéntralo aquí</a></p>'
        + '</div>'
    + '</div>';
      $( notice ).purr(
        {
          isSticky: true,
          fadeInSpeed: 4000,
          fadeOutSpeed: 1000,
          usingTransparentPNG: true
        }
      );
    </script>
<!-- growl -->
       
         
                            <script>
                        $(document).ready(function() {
                          // Handler for .ready() called.
                           $("#dyna img[title]").tooltip({
                            offset: [10, 2],
                             effect: 'slide'
                            });
                        });
                      </script>
          
      
      <div class="container">

            <div class="row-fluid">
                
                
                    <ul class="thumbnails">
                        
                        
                        <li class="span3">

                        <div class="thumbnail">

                            <ul class="tt-wrapper">
                                <li><a class="tt-preguntales" href="#"><img src="{{ STATIC_URL }}images/preguntale.png" alt=""><span>Ingresa en el buscador el nombre de tu comuna y ahí podrás hacer tus preguntas.</span></a></li>
                            </ul>
                        </div>
                        
                        <h5> Pregúntale </h5>
                        <p>Desde tu comuna escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                        </li>
                        
                        
                        
                        
                        <li class="span3">
			{% if flavour == 'mobile' %}
				<a href="http://taller.ciudadanointeligente.org/m/reporta.php" class="thumbnail">
			{% else %}
                        	<a href="{% url reporta %}" class="thumbnail">
			{% endif %}
                        <img src="{{ STATIC_URL }}images/fiscaliza.png" alt="">
                        </a> 
                        <h5> Fiscaliza</h5>
                        <p>Denuncia todo aquello que quieras mejorar en tu comuna; cuéntanos de lugares públicos en mal estado y propaganda electoral inapropiada, entre otros.</p>
                        </li>
                        
                        <li class="span3">
                        <a href="http://www.elvaso.cl/2012/10/propaganda-electoral-respetan-la-ley/" target="_blank" class="thumbnail">
                        <img src="{{ STATIC_URL }}images/infografia1.1.jpg" alt="">
                        </a>
                        <h5> Propaganda electoral ilegal </h5>
                        <p>¿Qué está realmente prohibido? 
                        <br/>Los datos duros de nuestra legislación sobre la forma en que los candidatos pueden hacer su campaña electoral.</p>
                        </li>

                         <li class="span3">
                        <a href="http://www.elvaso.cl/2012/10/los-6-deberes-de-todo-alcalde/" target="_blank" class="thumbnail">
                        <img src="{{ STATIC_URL }}images/deberesAlcalde.png" alt="">
                        </a>
                        <h5> ¿Qué debe hacer el Alcalde? </h5>
                        <p> Cada 4 años los elegimos, pero sabemos realmente los principales deberes de todo alcalde. Aquí encontrarás todo el material para poder fiscalizar.</p>
                        </li>

                        
                        
                        <!--<li class="span3">
                        <a href="#" class="thumbnail">
                        <img src="{{ STATIC_URL }}images/cuadradoRosado.png" alt="">
                        </a>
                         <h5> Infografia 1</h5>
                        <p>Desde tu comuna, escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                        </li> -->
                       
                    </ul>
                    
                    <!--<div class="container">
                     
                      <div class="gitHome">
                        
                        <img src="{{ STATIC_URL }}images/logoGit.png" style="float: left; padding-left: 4px;" alt="">
                        <p class="linkGit"><a href="https://github.com/ciudadanointeligente/municipales-2012" target="_blank">Quieres acceder a nuestro código en Github? </a></p>
                        
                        </div>
                    </div> -->
                
                <!--<div class="copiaBtn"> Pregúntale <img src="{{ STATIC_URL }}images/iconoPregunta2.png" style="float: right;"/> </div>
                <br/>
        <p>Desde tu comuna, escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                </div>
              
                
                <div class="span3"> 
                <a  href="{% url reporta %}" class="btn btn-block btn-inverse"> Fiscaliza<img src="{{ STATIC_URL}}images/iconoReporta.png" style="float: right;"/> </a>
                <br/>
        <p>Denuncia todo aquello que quieras mejorar en tu comuna, cuéntanos de lugares públicos en mal estado, propaganda electoral inapropiada, entre otros.</p>
                </div>
                
                   <div class="span3">
                
                <div class="copiaBtn"> Infografia 1 <img src="{{ STATIC_URL }}images/iconoPregunta2.png" style="float: right;"/> </div>
                <br/>
        <p>Escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                </div>
                
                <div class="span3">
                
                <div class="copiaBtn"> Infografia 2 <img src="{{ STATIC_URL }}images/iconoPregunta2.png" style="float: right;"/> </div>
                <br/>
        <p>Escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                </div> -->
                
        </div>
        </div>
        
        
        <!--
       <div class="container">
         <div class="row">
                <div class="span6">
                <h5>Video 1</h5>
        <img src="{{ STATIC_URL }}images/ejemplo-video.png" />
        </div>
                <div class="span6">
                <h5>Video 2</h5>
        <img src="{{ STATIC_URL }}images/ejemplo-video.png" /> 
        </div>
        </div> 
        -->
        
       </div>
        </div>
        
        
        
        
        {% endblock content %}

  {% block extra_js %}
  <script type='text/javascript'>iticker_id = 2513;</script>
<script src="http://static.itickerapp.com/iticker_seed.js" type="text/javascript"></script>

<style type="text/css">
    .barra_noticias{
        border: 3px solid #CE00CE;
        margin-top: 12px;
        font-size: 12px;
        max-height: 60px;
        background:#663399 url('{{ STATIC_URL }}images/signoInterrogacion.png') no-repeat 20px 0px ;
        color: white;
        border-radius: 10px;
    }
    .barra_noticias ul li{
        padding: 5px 10px 5px 80px;
    }
</style>

  {% endblock extra_js %}
