{% extends "base.html" %}
{% block content %}


     <meta property="og:description" content="Todo lo que necesitas saber para votar"/>    
           
         
         <div class="container">  	
                
                    
                
                
                <div class="buscadorPpal">
                
                <h3> <center>Conoce a tus candidatos y elige a tu media naranja en cada comuna</center></h3>
                <center>
                    <form class="form-search"> <p> Escribe el nombre de la comuna que te interesa</p>
                <input type="text" id="comunas-search" class="input-xxlarge search-query"> 
                <br/> <br/>
                <p> <em> <small>Encuentra aquí datos relevantes de tu comuna y de la gestión del último alcalde. Descubre más de lo que ha sucedido en tu municipio en temas de transparencia, participación ciudadana, presupuesto, educación, salud, administración, seguridad y urbanismo.</small> </em></p> 
                </form>

                    

                 </center> </div> 
        
<!-- growl -->
    <script type="text/javascript">
      var notice = '<div class="notice">'
        +'<div class="notice-body">'
          + '<p>¿Andas en busca de nuestro antiguo Vota Inteligente? (Información del Congreso)</p>'
        + '</div>'
        + '<div class="notice-bottom">'
          + '<p><a class="btn btn-info" href="http://legislativo.votainteligente.cl" target="_blank">Encuéntralo aquí</a></p>'
        + '</div>'
    + '</div>';
      $( notice ).purr(
        {
          isSticky: true,
          fadeInSpeed: 4000,
          fadeOutSpeed: 1000,
          usingTransparentPNG: true
        }
      );
    </script>
<!-- growl -->


       
         
       										  <script>
												$(document).ready(function() {
													// Handler for .ready() called.
													 $("#dyna img[title]").tooltip({
											   		offset: [10, 2],
											  		 effect: 'slide'
														});
												});
											</script>
          
    	
    	<div class="container">

            <div class="row-fluid">
                
                <div class="span3">
                
                <a href="#" class="btn btn-block btn-inverse" target="_blank"> Pregúntale <img src="{{ STATIC_URL }}images/iconoPregunta2.png" style="float: right;"/> </a>
                <br/>
				<p>Escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                </div>
              
                
                <div class="span3"> 
                <a  href="{% url reporta %}" class="btn btn-block btn-inverse"> Fiscaliza<img src="{{ STATIC_URL}}images/iconoReporta.png" style="float: right;"/> </a>
                <br/>
				<p>Denuncia todo aquello que quieras mejorar en tu comuna, cuéntanos de lugares públicos en mal estado, propaganda electoral inapropiada, entre otros.</p>
                </div>
                
                   <div class="span3">
                
                <a href="#" class="btn btn-block btn-inverse" target="_blank"> Infografia 1 <img src="{{ STATIC_URL }}images/iconoPregunta2.png" style="float: right;"/> </a>
                <br/>
				<p>Escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                </div>
                
                <div class="span3">
                
                <a href="#" class="btn btn-block btn-inverse" target="_blank"> Infografia 2 <img src="{{ STATIC_URL }}images/iconoPregunta2.png" style="float: right;"/> </a>
                <br/>
				<p>Escríbele a los candidatos tus inquietudes, revisa lo que otros les están preguntando y averigua quiénes son los que más responden.</p>
                </div>
                
        </div>
        </div>
        
        <br/>
        <br />
        <!--
       <div class="container">
         <div class="row">
                <div class="span6">
                <h5>Video 1</h5>
				<img src="{{ STATIC_URL }}images/ejemplo-video.png" />
				</div>
                <div class="span6">
                <h5>Video 2</h5>
				<img src="{{ STATIC_URL }}images/ejemplo-video.png" /> 
				</div>
        </div> 
        -->
        
       </div>
        </div>
        
        
        
        
        {% endblock content %}
	
	{% block extra_js %}
	<script>
	$(function() {
		var availableTags = [{% for comuna in comunas %}
		{label:"{{comuna.nombre}}",value:"{{comuna.slug}}"}{% if not forloop.last %},{% endif %}
		{% endfor %}

		];
		$( "#comunas-search" ).autocomplete({
			source: availableTags,
      autoFocus: true
		});
		$( "#comunas-search" ).autocomplete({
		   select: function(event, ui) { 
		   	$( "#comunas-search" ).val( ui.item.label );
		   	window.location = '/'+ui.item.value; 
		   	return false;
		   }
		});
	});
	</script>
  {% endblock extra_js %}
