{% extends "base.html" %}
{% block content %}

<meta property="og:description" content="Viste estos datos de {{comuna}}"/>


            <div class="contenidoMunicipalidades">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span8">
                            <h2>Municipales en <span>{{comuna}}</span>
                                
                                </h2>
                                <div class="share_this_comuna">
                                    <span class='st_facebook_large' displayText='Facebook'></span>
                                    <span class='st_twitter_large' displayText='Tweet'></span>
                                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                                    <span class='st_email_large' displayText='Email'></span>
                                </div>
                            
                          <div> 
                                <iframe src="{{comuna.main_embedded}}" class="candideitorg_embeded" scrolling="no"> </iframe>

                            </div>
                        </div>
                        
                        <div class="span4">  
                                                <div class="sidebar-nav sidebarDerecha">  
                                                   <ul class="thumbnails">
                                                        
                                                        <li class="span6">
                                                            <div class="well thumbnail">
                                                          <a href="{% url reporta %}" target="_blank" class="btn btn-block btn-info btnMunicipales">¡Pregúntale!</a>
                                                           <p class="textoBTN">A tus candidatos los que quieras</p>
                                                            </div>
                                                        </li>
                                                       
                                                        <li class="span6">
                                                            <div class="well thumbnail">
                                                           <a href="{% url reporta %}" target="_blank" class="btn btn-block btn-info btnMunicipales">¡Fiscaliza!</a>
                                                           <p class="textoBTN">Problemas en tu comuna</p>
                                                           
                                                        </div>
                                                        </li>
 
                                                    </ul>
                                                </div>
                                                
                        <div class="span4">
                            <div style="margin-top: -10px;">
                                <h4 style="width: 300px;">Los datos de <span>{{comuna}}</span> en: </h4> 
                                <script>
                                    $(document).ready(function() {
                                    // Handler for .ready() called.
                                    $("#dyna img[title]").tooltip({
                                    offset: [10, 2],
                                    effect: 'slide'
                                    });
                                    });
                                </script>
                                <script>
                                    // custom easing called "custom"
                                    $.easing.custom = function (x, t, b, c, d) {
                                    var s = 1.70158;
                                    if ((t/=d/2) < 1) return c/2*(t*t*(((s*=(1.525))+1)*t - s)) + b;
                                    return c/2*((t-=2)*t*(((s*=(1.525))+1)*t + s) + 2) + b;
                                    }
                                </script>
                                <div class="navi"> 

                                    {% for indice in indices %}
                                    <a href="{{forloop.counter}}" title="{{indice.area.nombre}} - {{indice.nombre}}"></a>
                                    {% endfor %}
                                </div>
                                <!--<div class="navi"> 
                                    </div>    -->
                                <script>
                                    $(document).ready(function() {
                                    // initialize scrollable
                                    $(".scrollable").scrollable({circular: true }).autoscroll({ autoplay: true, interval: 7000 }).navigator(".navi");
                                    });
                                    
                                </script>
                                <div class="Carrusel">
                                    <!-- "previous page" action -->
                                    <a class="prev browse left"><img alt="" id="flechitaIzquierda" src="{{ STATIC_URL }}images/flechaIzquierda.png" /></a>
                                    <!-- root element for scrollable -->
                                    <div class="scrollable">
                                        <!-- root element for the items -->
                                        <div class="items">
                                            <!--CARACTERIZACION -->





                                            {% for indice in indices %}
                                            <div>

                                                <article>
                                                    <div class="articulokathe wellKathe">
                                                        <header class="tituloCarrusel {{indice.area.clase_en_carrusel}}">
                                                            <p>{{indice.dato.nombre}}</p>
                                                            <div class="signoInterrogacion" id="dyna1De">
                                                                <a href="{{indice.area.link_detalle}}"><img alt="" src="{{ STATIC_URL }}images/signoInterrogacion.png" title="&iquest;C&oacute;mo se calcul&oacute;?" /> </a>
                                                            </div>
                                                        </header>
                                                        <section>
                                                            <div class="epigrafe {{indice.area.segunda_clase}}">{{indice.encabezado}}</div>
                                                            <br />
                                                            <div class="categoria {{indice.dato.imagen}}">  
                                                                <span class="numeroGrandeCategoria {{indice.area.segunda_clase}}"> {{indice.numero_1}}</span> 
                                                                <br /> <br />{{indice.texto_1}}  <span class="{{indice.area.segunda_clase}}">{{indice.numero_2}}</span> {{indice.texto_2}}
                                                            </div>
                                                        </section>
                                                        <section class="infoNacional">{{indice.texto_pie_pagina_1}}<span class="{{indice.area.segunda_clase}}">{{indice.numero_pie_pagina_1}}</span> {{indice.texto_pie_pagina_2}}</section>
                                                    </div>
                                                </article>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- "next page" action -->
                                    <a class="next browse right"><img alt="" id="flechitaDerecha" src="{{ STATIC_URL }}images/flechaDerecha.png" /></a>
                                    
                                    <a href="{% url comuna-index-detail slug=comuna.slug %}"  target="_blank" class="btn btn-mini" style="float: right; position: relative; top: -51px;  z-index: 2;"> Ver todos los datos </a>
                                    
                                    
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock content %}

