{% extends "base.html" %}
{% block content %}

<div class="paginaCompleta container">
			 <br/>
             <br/>
             <br/>
             <div class="container">
             <div class="categoriaEducacion">
             <h4 class="sangriaIzquierda"> <a name="Pobreza"> Ingreso Pobreza </a></h4>
             </div>   
             <p> El Fondo Común Municipal es un mecanismo de redistribución de recursos financieros entre las municipalidades del país, ideado para beneficiar a las municipalidades de menores recursos, en especial, aquellas que tienen escasas posibilidades de acceder a otros ingresos, para las cuales constituye la fuente esencial de ingresos. Es decir, el FCM es un mecanismo de redistribución de los recursos, en donde todas las Municipalidades del país aportan un porcentaje de sus ingresos permanentes, y luego son repartidos entre todos según criterios redistributivos que benefician a los municipios más pobres, mitigando los problemas de inequidad. 
        
        	<h6> ¿Cómo se compone? </h6>
        
            60% del impuesto territorial de cada comuna, y un 65% en el caso de las Municipalidades de Santiago, Providencia, Las Condes y Vitacura; 
            62,5% de lo que las municipalidades recauden por permisos de circulación de vehículos; 
            55% de lo que recaude la Municipalidad de Santiago y un 65% de lo que recauden las Municipalidades de Providencia, Las Condes y Vitacura por pago de patentes; 
            50% de la transferencia de vehículos con permisos de circulación; el monto total del impuesto territorial de los inmuebles fiscales afectos a dicho impuesto y un aporte fiscal que se considerará anualmente en la Ley de Presupuestos; 
            y finalmente el 100% de lo recaudado por multas impuestas por los Juzgados de Policía Local. 
        
        	<h6> Y ¿Cómo se reparte? </h6>
        
            25% en partes iguales entre las comunas; 
            10% en relación a la pobreza relativa de las comunas; 
            30% en proporción directa al número de predios exentos de impuesto territorial de cada comuna con respecto al número de predios exentos del país; 
            y 35% en proporción directa a los menores ingresos propios permanentes del año anterior.
        	</p>
            </div>
                
             <br/> 
             <div class="container">
             <div class="categoriaAreasPublicas">
             <h4 class="sangriaIzquierda"> <a name="Funcionarios"> Ingreso proveniente del FCM </a></h4>
              </div> 
             <p> El Fondo Común Municipal es un mecanismo de redistribución de recursos financieros entre las municipalidades del país, ideado para beneficiar a las municipalidades de menores recursos, en especial, aquellas que tienen escasas posibilidades de acceder a otros ingresos, para las cuales constituye la fuente esencial de ingresos. Es decir, el FCM es un mecanismo de redistribución de los recursos, en donde todas las Municipalidades del país aportan un porcentaje de sus ingresos permanentes, y luego son repartidos entre todos según criterios redistributivos que benefician a los municipios más pobres, mitigando los problemas de inequidad. 
        
        	<h6> ¿Cómo se compone? </h6>
        
            60% del impuesto territorial de cada comuna, y un 65% en el caso de las Municipalidades de Santiago, Providencia, Las Condes y Vitacura; 
            62,5% de lo que las municipalidades recauden por permisos de circulación de vehículos; 
            55% de lo que recaude la Municipalidad de Santiago y un 65% de lo que recauden las Municipalidades de Providencia, Las Condes y Vitacura por pago de patentes; 
            50% de la transferencia de vehículos con permisos de circulación; el monto total del impuesto territorial de los inmuebles fiscales afectos a dicho impuesto y un aporte fiscal que se considerará anualmente en la Ley de Presupuestos; 
            y finalmente el 100% de lo recaudado por multas impuestas por los Juzgados de Policía Local. 
        
        	<h6> Y ¿Cómo se reparte? </h6>
        
            25% en partes iguales entre las comunas; 
            10% en relación a la pobreza relativa de las comunas; 
            30% en proporción directa al número de predios exentos de impuesto territorial de cada comuna con respecto al número de predios exentos del país; 
            y 35% en proporción directa a los menores ingresos propios permanentes del año anterior.
        	</p>
            </div>
     		
    
    			
    
    		
                
                
                
                
                
        
           
           
            
     		
    	</div>
        
       

    	  
       
       
       
        
        
        </div>
        
          {% endblock content %}