{% extends "base_sub_menu.html" %}
{% block content %}
 
 
 
             
             

<!--<div class="container paginaCompleta">

 	 <h3> {{titulo}} </h3>
 			 <h4 class="tituloPreguntale"> ¡Pregúntales!       Ellos Responden...</h4>

				<form class="formularioPreguntale" action="" method="post">{% csrf_token %}
    			{{form.as_p}}
					<input type="submit" class="btn-info" value="He dicho" />
				</form> 
</div>-->

 <div class="container paginaCompleta">

 	<h3> {{titulo}} </h3>
 	<h4 class="tituloPreguntale"> ¡Pregúntales!       Ellos Responden...</h4>

 				<div class="container-fluid">
   				 <div class="row-fluid">
       			 	
       			 	<div class="span8">
 							<form class="preguntaCandidatos">
					   
								    <label> <strong>Yo soy</strong></label>
								    <input class="input-xxlarge btn-block remitentePreguntale" type="text" placeholder="Comunero, Profesora, Dirigente, etc">
								    <span class="help-block"> <small> <em> <strong>*Identifícate como quieras* </em></strong></small></span>
								    
								    <br/>
								    <label> <strong>Escribe tu pregunta</strong></label>

								   
								   <textarea rows="15" class="input-xxlarge btn-block"> </textarea>
								     <span class="help-block"> <small> <em> <strong>*Escribe una pregunta clara y respetuosa. Así aumentas la posibilidad de que respondan seriamente* </strong></em></small></span>
								    

								    <br/>
								   

								    <p>
										
										<img class="captcha" alt="captcha" src="/captcha/image/09ba2e0674c7c4a4a8c2966c4228ecf39d0776c9/">
										<input id="id_captcha_0" type="hidden" value="09ba2e0674c7c4a4a8c2966c4228ecf39d0776c9" name="captcha_0">
										<input id="id_captcha_1" type="text" name="captcha_1">
									</p>
														    
								  
								    
								    <button type="submit" class="btn btn-info">He dicho</button>
			    			</form>
					</div>

					<div class="span4">
						<div class="sidebarPreguntale">

								<form>
										<legend> Candidatos </legend>
										 <label>Marca sólo los candidatos a los que quieras preguntar</label>
										 <label class="checkbox">
										 <input type="checkbox"> Nombre candidato 1 </input> </label>
										 
										 <label class="checkbox">
										 <input type="checkbox"> Nombre candidato 2 </input> </label>
										 
										 <label class="checkbox">
										 <input type="checkbox"> Nombre candidato 4</input> </label>
										 <span class="help-block"> <small> <em>*** Tu pregunta se enviará al mail del comando de tu candidato </em> </small></span>
								</form>
						</div>
					</div>
				</div>

		<div class="container">
			<h4 class="preguntasRecientes"> Preguntas Recientes</h4>
			{% for remitente, mensaje in conversaciones.items %}
				<b>{{remitente}} </b> preguntó:
				<br>
				{% for pregunta, respuestas in mensaje.items %}
					{{pregunta}}
					<br>
					Las respuestas fueron:
					<br>
					{% for candidato, respuesta in respuestas.items%}
						<b>{{candidato}}:</b> {{respuesta}}
						<br>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</div>


	</div>
</div>
</div>
{% endblock %}
