{% extends "base_sub_menu.html" %}
{% load estrellitas %}
{% block content %}
 
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" ></script>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script> 
<script>
$(function () {
    $('body').off('click.collapse.data-api', '[data-toggle=collapse]');
    $('body').on('click.collapse.data-api', '[data-toggle=collapse]', function ( e ) {
      var $this = $(this), href
        , target = $this.attr('data-target')
          || e.preventDefault()
          || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '') //strip for ie7
        , option = $(target).data('collapse') ? 'toggle' : $this.data()
      $(target).collapse(option)
      if($this.parentsUntil('.dropdown-menu').length!==0){
          return false;
      }
    });
});
</script>
             
             

<div class="container paginaCompleta">

	 <h3>Preguntas a los candidatos de <span><a href="{{comuna}}"> {{comuna}} </a></span> </h3>





	<h4 class="tituloPreguntale"> ¡Pregúntales!       Ellos Responden...</h4>

	{% if messages %} 
<div class="alert alert-success">
	{% for message in messages %}    
		{{ message }}
	{% endfor %}    
</div>
{% endif %}

	<form class="preguntaCandidatos" action="" method="post">{% csrf_token %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="candidatosPreguntale span4">
					<h5> Candidatos </h5>
					<label>Marca sólo los candidatos a los que quieras preguntar</label>
{% for pk, candidato in form.candidato.field.choices %}
					<label class="checkbox">
					<input type="checkbox" name="candidato" {{ pk|estrellitas_disabled }} value={{pk}}>{{candidato}} {{ pk|estrellitas }}
					 </input> </label>
{% endfor %}
					<span class="help-block"> <small> <em> <strong>
						* Tu pregunta será enviada al mail del candidato
						<br/>
						** Tu pregunta será enviada al mail del partido del candidato
						<br/>
						*** No tenemos el mail del candidato </strong></em> </small></span>

{% if form.candidato.errors %}
					<label class="alert alert-error">{{form.candidato.errors}}</label>
{% endif %}
				</div>
				<div class="span8">
					<label> <strong>Yo soy</strong></label>
					<input class="input-xxlarge btn-block remitentePreguntale" type="text" name="remitente" placeholder="Tomás González, Comunero, Profesora, Dirigente, etc">
					<span class="help-block"> <small> <em> <strong>*Identifícate como quieras* </em></strong></small></span>
{% if form.remitente.errors %}
					<label>{{form.remitente.errors}}</label>
{% endif %}
					<br/>

					<label> <strong>Escribe tu pregunta</strong></label>
					<textarea rows="5" class="input-xxlarge btn-block" name="texto_pregunta"></textarea>
					<span class="help-block"> <small> <em> <strong>*Escribe una pregunta clara y respetuosa. Así aumentas la posibilidad de que respondan seriamente* </strong></em></small></span>
{% if form.texto_pregunta.errors %}
					<label>{{form.texto_pregunta.errors}}</label>
{% endif %}
					<br/>
					<p>
						{{form.captcha}}	
					</p>
{% if form.captcha.errors %}
					<label>{{form.captcha.errors}}</label>
{% endif %}
					<p> Acepto que mis preguntas y respuestas sean publicadas en este mismo medio. <br/>Confirmo que lo que aquí dice no atenta contra el candidato.</p>
					<button type="submit" class="btn btn-info btnDerecha">He dicho</button>
				</div>
			</div>
		</div>
	</form>
	<div class="container">
		<h4 class="tituloPreguntale"> Preguntas Recientes</h4>
		<div class="accordion" id="accordion2">
{% for remitente, mensaje in conversaciones.items %}
			<div class="accordion-group">
	{% for pregunta, respuestas in mensaje.items %}
				<div class="accordion-heading tituloAcordion">
					<div class="preguntadoPor"> <small><strong>Preguntado por:</strong> <em>{{remitente}}</em></small></div>
					<br/> <br/>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{% cycle 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 as counter %}">
						<p class="preguntaPreguntale">{{pregunta}}</p>
					</a>
				</div>
				<div id="collapse{{ counter }}" class="accordion-body collapse in">
		{% for candidato, respuesta in respuestas.items%}
					<div class="accordion-inner">
						<h4 class="nombreCandidato">{{candidato}}</h4>
						<p>{{respuesta}}</p>
						<br>
					</div>
		{% endfor %}
				</div>
	{% endfor %}
			</div>
{% endfor %}
		</div>
	</div>


</div>
{% endblock %}
