{% extends "base_sub_menu.html" %}
{% block content %}

<div class="paginaCompleta container">
			 <br/>
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
       

    	<p> Este sitio ha sido desarrollado por la <a href="http://www.ciudadanointeligente.org" target="_blank">Fundación Ciudadano Inteligente, </a> con el objetivo de entregarle a la ciudadanía un espacio de información y participación de cara a las próximas elecciones municipales. 
        <br/>
        <br/>

Ciudadano Inteligente convocó a Casa de la Paz, Educación 2020, Fundación Iguales y Un Techo para Chile, a una alianza de organizaciones de la sociedad civil que le planteara una serie de inquietudes a los candidatos a alcalde con respecto a sus temas de interés. <br/>
<br/>

El cuestionario que estas 5 organizaciones elaboraron refleja las inquietudes que las organizaciones expertas en temas de participación ciudadana, pobreza, diversidad sexual, educación, sustentabilidad y transparencia tienen sobre la gestión municipal. </p>
       
       
       
        
        
        </div>
        
          {% endblock content %}