{% extends "base_sub_menu.html" %}
{% block content %}


<div class="paginaCompleta container">
<div class="row-fluid">

<div class="span6">
<div class="thumbnail tituloRanking" style="background-color: rgb(223, 240, 216); padding-left: 20px; color: rgb(70, 136, 71); border-color: rgb(70, 136, 71);">Estos son los candidatos que <strong>MÁS</strong> responden a los ciudadanos</div>
<ul class="listadoCandidatos">
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Ivanmlynarz" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/la-florida/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Ivanmlynarz</a> </div>
		<strong>IVAN MLYNARZ</strong> de <a href="/la-florida">La Florida</a> <br/>ha respondido 15 de 16 <a href="/la-florida/preguntales">preguntas</a>
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Aguilarmario" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/santiago/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Aguilarmario</a> </div>
		<strong>MARIO AGUILAR </strong>de <a href="/santiago">Santiago</a> <br/>ha respondido 14 de 15 <a href="/santiago/preguntales">preguntas</a>
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Rauldonckaster" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/la-reina/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Rauldonckaster</a> </div>
		<strong>RAUL DONCKASTER </strong> de <a href="/la-reina">La Reina</a> <br/>ha respondido 13 de 18 <a href="/la-reina/preguntales">preguntas</a>
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Gduartel" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/la-florida/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Gduartel</a> </div>
		<strong>GONZALO DUARTE </strong>de <a href="/la-florida">La Florida</a><br/> ha respondido 12 de 17 <a href="/la-florida/preguntales">preguntas</a>
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=R_Cortez_Sasso" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/la-florida/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @R_Cortez_Sasso</a> </div>
		<strong>RODRIGO CORTEZ </strong>de <a href="/la-florida">La Florida</a> <br/>ha respondido 10 de 15 <a href="/la-florida/preguntales">preguntas</a>
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Montoyalcalde" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/macul/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Montoyalcalde</a> </div>
		<strong>GONZALO MONTOYA </strong> de <a href="/macul">Macul</a> <br/>ha respondido 10 de 13 <a href="/macul/preguntales">preguntas</a>
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Josefaerrazuriz" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/providencia/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Josefaerrazuriz</a> </div>
		<strong>JOSEFA ERRAZURIZ</strong> de <a href="/providencia">Providencia</a> <br/>ha respondido 10 de 17 <a href="/providencia/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Omar_Sabat" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/valdivia/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Omar_Sabat</a> </div>
		<strong>OMAR SABAT</strong> de <a href="/valdivia">Valdivia</a> <br/>ha respondido 10 de 14 <a href="/valdivia/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Lucasblaset" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/las-condes/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Lucasblaset</a> </div>
		<strong>LUCAS BLASET </strong> de <a href="/las-condes">Las Condes</a> <br/>ha respondido 9 de 14 <a href="/las-condes/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Cristianbowen" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/renca/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Cristianbowen</a> </div>
		<strong>CRISTIAN BOWEN </strong>de <a href="/renca">Renca</a> <br/>ha respondido 8 de 9 <a href="/renca/preguntales">preguntas</a>
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=PatricioMery" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/puente-alto/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @PatricioMery</a> </div>
		<strong>PATRICIO MERY</strong> de <a href="/puente-alto">Puente Alto</a> <br/>ha respondido 7 de 10 <a href="/puente-alto/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Arellanoalcalde" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/rancagua/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Arellanoalcalde</a> </div>
		<strong>CARLOS ARELLANO </strong>de <a href="/rancagua">Rancagua</a> <br/>ha respondido 7 de 8 <a href="/rancagua/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Carlosamtmann" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/valdivia/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Carlosamtmann</a> </div>
		<strong>CARLOS ATMMANN </strong>de <a href="/valdivia">Valdivia</a><br/> ha respondido 7 de 12 <a href="/valdivia/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=borquezu" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/vitacura/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @borquezu</a> </div>
		<strong>FERNANDO BORQUEZ </strong> de <a href="/vitacura">Vitacura</a> <br/>ha respondido 7 de 9 <a href="/vitacura/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		 <div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=MatiasMlynarz/" data-text="Gracias por responder, sus respuestas en http://www.votainteligente.cl/nunoa/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @MatiasMlynarz/</a> </div>
		 <strong>MATIAS MLYNARZ </strong> de <a href="/nunoa">Ñuñoa</a> <br/>ha respondido 6 de 10 <a href="/nunoa/preguntales">preguntas</a>
</li>
</ul>
</div>

<div class="span6">
<div class="thumbnail tituloRanking" style="padding-left: 20px; background-color: rgb(242, 222, 222); color: rgb(185, 74, 72); border-color: rgb(185, 74, 72);">Estos son los candidatos que <strong>MENOS</strong> responden a los ciudadanos</div>
<ul class="listadoCandidatos">
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Catadelrealm" data-text="No ha respondido 19 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/la-reina/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Catadelrealm</a> </div>
		<strong>CATALINA DEL REAL</strong> de <a href="/la-reina">La Reina</a><br/> no ha respondido 19 de 19 <a href="/la-reina/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Carolina_Toha" data-text="No ha respondido 19 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/santiago/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Carolina_Toha</a> </div>
		<strong>CAROLINA TOHA </strong>de <a href="/santiago">Santiago</a><br/> no ha respondido 19 de 19 <a href="/santiago/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Rodolfocarter" data-text="No ha respondido 17 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/la-florida/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Rodolfocarter</a> </div>
		<strong>RODOLFO CARTER</strong> de <a href="/la-florida">La Florida</a> <br/>no ha respondido 17 de 17 <a href="/la-florida/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=alcaldemontt" data-text="No ha respondido 16 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/la-reina/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @alcaldemontt</a> </div>
		<strong>LUIS MONTT </strong>de <a href="/la-reina">La Reina</a> <br/>no ha respondido 16 de 16 <a href="/la-reina/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=jgossa" data-text="No ha respondido 15 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/la-reina/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @jgossa</a> </div>
		<strong>JUAN OSSA </strong>de <a href="/la-reina">La Reina</a> <br/>no ha respondido  15 de 18 <a href="/la-reina/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<strong>FRANCISCO DE LA MAZA </strong> de <a href="/las-condes">Las Condes</a> <br/>no ha respondido 15 de 15 <a href="/las-condes/preguntales">preguntas</a>
		
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
	<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Nora_Cuevas" data-text="No ha respondido 15 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/san-bernardo/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Nora_Cuevas</a> </div>
		<strong>NORA CUEVAS</strong> de <a href="/san-bernardo">San Bernardo</a><br/> no ha respondido 15 de 15 <a href="/san-bernardo/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Alcalde_Maipu" data-text="No ha respondido 14 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/maipu/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Alcalde_Maipu</a> </div>
		<strong>CHRISTIAN VITTORI </strong>de <a href="/maipu">Maipú</a> <br/>no ha respondido 14 de 14 <a href="/maipu/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=PasionxProvi" data-text="No ha respondido 14 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/providencia/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @PasionxProvi</a> </div>
		<strong>CHRISTIAN LABBE </strong> de <a href="/providencia">Providencia</a> <br/>no ha respondido 14 de 14 <a href="/providencia/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Pablozalaquetts" data-text="No ha respondido 14 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/santiago/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Pablozalaquetts</a> </div>
		<strong>PABLO ZALAQUETT</strong> de <a href="/santiago">Santiago</a> <br/>no ha respondido 14 de 14 <a href="/santiago/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<strong>PEDRO ALBORNOZ</strong> de <a href="/maipu">Maipú</a><br/> no ha respondido 13 de 13 <a href="/maipu/preguntales">preguntas</a>
		
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Ivancarrascom" data-text="No ha respondido 13 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/santiago/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Ivancarrascom</a> </div>
		<strong>IVAN CARRASCO</strong> de <a href="/santiago">Santiago</a><br/> no ha respondido 13 de 13 <a href="/santiago/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<strong>PATRICIO GUZMAN </strong>de <a href="/la-florida">La Florida</a> <br/>no ha respondido 12 de 14 <a href="/la-florida/preguntales">preguntas</a>
		
		<br/>
		
		
	</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=pedro_sabat" data-text="No ha respondido 12 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/nunoa/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @pedro_sabat</a> </div>
		<strong>PEDRO SABAT</strong> de <a href="/nunoa">Ñuñoa</a> <br/>no ha respondido 12 de 12 <a href="/nunoa/preguntales">preguntas</a>
</li>
	
<br/>
	<li class="itemListadoCandidatos">
		<div class="contenedorTwitter"><a href="https://twitter.com/intent/tweet?screen_name=Carolinaleitao" data-text="No ha respondido 12 preguntas de sus ciudadanos, las puede ver en http://www.votainteligente.cl/penalolen/preguntales" class="twitter-mention-button" data-lang="es" data-related="ciudadanoi">Tweet to @Carolinaleitao</a> </div>
		<strong>CAROLINA LEITAO</strong> de <a href="/penalolen">Peñalolén</a><br/>no ha respondido 12 de 13 <a href="/penalolen/preguntales">preguntas</a>
</li>

</ul>
</div>
</div>

</div>
</div>

{% endblock content %}