    <div class="row-fluid">
                 <div class="span12 wellCaracterizacion"> Caracterización 
                 </div>  
             </div>
 
                  <div class="row-fluid">
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                                <article>
                                     <div>
                                        <header class="tituloCarrusel" id="fondoCeleste"> 
                                        <p>Pobreza</p>
                                        </header>
                                        <section>
                                          <div class="categoria categoriaPobreza">  
                                            <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                            <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                             </div>
                                         </section>
                                          <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                          habitantes inscritos en FONASA por cada servicio de salud.
                                         </section>
                                      </div>
                                  </article>
                            </div>
                     </div>
                
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                              <article>
                                 <div>
                                    <header class="tituloCarrusel" id="fondoCeleste"> 
                                    <p>Pobreza</p>
                                    </header>
                                    <section>
                                        <div class="categoria categoriaPobreza">  
                                        <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                        <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                         </div>
                                     </section>
                                      <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                      habitantes inscritos en FONASA por cada servicio de salud.
                                     </section>
                                  </div>
                              </article>
                        </div>
                     </div>
                
               
               <div class="span4 well">
                   <div class="infoCompletaMunicipalidades">
          <article>
                         <div class="">
                          <header class="tituloCarrusel" id="fondoCeleste"> 
                            <p>Pobreza</p>
                            </header>
                            <section>
                                <div class="categoria categoriaPobreza">  
                                <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                 </div>
                             </section>
                              <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                              habitantes inscritos en FONASA por cada servicio de salud.
                             </section>
                          </div>
                      </article>
        </div>
             </div>
             
             
                   
             <div class="row-fluid">
                 <div class="span12 wellAdministracion"> Administración 
                 </div>  
             </div>
 
                  <div class="row-fluid">
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                                <article>
                                     <div>
                                        <header class="tituloCarrusel" id="fondoGris"> 
                                        <p>Datos Alcalde</p>
                                        </header>
                                        <section>
                                          <div class="categoria categoriaPobreza">  
                                            <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                            <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                             </div>
                                         </section>
                                          <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                          habitantes inscritos en FONASA por cada servicio de salud.
                                         </section>
                                      </div>
                                  </article>
                            </div>
                     </div>
                
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                              <article>
                                 <div>
                                    <header class="tituloCarrusel" id="fondoGris"> 
                                    <p>Datos Concejo</p>
                                    </header>
                                    <section>
                                        <div class="categoria categoriaPobreza">  
                                        <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                        <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                         </div>
                                     </section>
                                      <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                      habitantes inscritos en FONASA por cada servicio de salud.
                                     </section>
                                  </div>
                              </article>
                        </div>
                     </div>
                
               
               <div class="span4 well">
                   <div class="infoCompletaMunicipalidades">
          <article>
                         <div class="">
                          <header class="tituloCarrusel" id="fondoGris"> 
                            <p>Funcionarios</p>
                            </header>
                            <section>
                                <div class="categoria categoriaPobreza">  
                                <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                 </div>
                             </section>
                              <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                              habitantes inscritos en FONASA por cada servicio de salud.
                             </section>
                          </div>
                      </article>
        </div>
             </div>
             
             
              <div class="row-fluid">
                 <div class="span4 wellAdministracion"> Administración 
                 </div>  
                 <div class="span8 wellEducacion"> Educación 
                 </div>  
             </div>
             
                  <div class="row-fluid">
                   <div class="span4 well">
                   <div class="infoCompletaMunicipalidades">
          <article>
                         <div class="">
                          <header class="tituloCarrusel" id="fondoGris"> 
                            <p>Votaciones</p>
                            </header>
                            <section>
                                <div class="categoria categoriaPobreza">  
                                <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                 </div>
                             </section>
                              <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                              habitantes inscritos en FONASA por cada servicio de salud.
                             </section>
                          </div>
                      </article>
        </div>
             </div>
             
             <div class="span4 well">
                   <div class="infoCompletaMunicipalidades">
          <article>
                         <div class="">
                          <header class="tituloCarrusel" id="fondoBurdeo"> 
                            <p>Votaciones</p>
                            </header>
                            <section>
                                <div class="categoria categoriaPobreza">  
                                <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                 </div>
                             </section>
                              <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                              habitantes inscritos en FONASA por cada servicio de salud.
                             </section>
                          </div>
                      </article>
        </div>
             </div>
             <div class="span4 well">
                   <div class="infoCompletaMunicipalidades">
          <article>
                         <div class="">
                          <header class="tituloCarrusel" id="fondoBurdeo"> 
                            <p>Votaciones</p>
                            </header>
                            <section>
                                <div class="categoria categoriaPobreza">  
                                <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                 </div>
                             </section>
                              <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                              habitantes inscritos en FONASA por cada servicio de salud.
                             </section>
                          </div>
                      </article>
        </div>
             </div>
             
             
             </div>
             </div>
             
             
             
             
             
             
             <div class="row-fluid">
                 <div class="span4 well"> Educación
                 </div>  
                 <div class="span8 well"> Salud
                 </div> 
             </div>
 
                  <div class="row-fluid">
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                                <article>
                                     <div>
                                        <header class="tituloCarrusel" id="fondoBurdeo"> 
                                        <p>Educación 2020</p>
                                        </header>
                                        <section>
                                          <div class="categoria categoriaPobreza">  
                                            <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                            <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                             </div>
                                         </section>
                                          <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                          habitantes inscritos en FONASA por cada servicio de salud.
                                         </section>
                                      </div>
                                  </article>
                            </div>
                     </div>
             
             
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                                <article>
                                     <div>
                                        <header class="tituloCarrusel" id="fondoRojo"> 
                                        <p>Servicios de Salud</p>
                                        </header>
                                        <section>
                                          <div class="categoria categoriaPobreza">  
                                            <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                            <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                             </div>
                                         </section>
                                          <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                          habitantes inscritos en FONASA por cada servicio de salud.
                                         </section>
                                      </div>
                                  </article>
                            </div>
                     </div>
             
           
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                                <article>
                                     <div>
                                        <header class="tituloCarrusel" id="fondoRojo"> 
                                        <p>Vulnerabilidad</p>
                                        </header>
                                        <section>
                                          <div class="categoria categoriaPobreza">  
                                            <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                            <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                             </div>
                                         </section>
                                          <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                          habitantes inscritos en FONASA por cada servicio de salud.
                                         </section>
                                      </div>
                                  </article>
                            </div>
                     </div>
             
                    <div class="row-fluid">
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                                <article>
                                     <div>
                                        <header class="tituloCarrusel" id="fondoRojo"> 
                                        <p>Años de vida perdidos</p>
                                        </header>
                                        <section>
                                          <div class="categoria categoriaPobreza">  
                                            <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                            <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                             </div>
                                         </section>
                                          <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                          habitantes inscritos en FONASA por cada servicio de salud.
                                         </section>
                                      </div>
                                  </article>
                            </div>
                     </div>
          
              
                        <div class="span4 well">
                            <div class="infoCompletaMunicipalidades">
                                <article>
                                     <div>
                                        <header class="tituloCarrusel" id="fondoRojo"> 
                                        <p>Obesidad Infantil</p>
                                        </header>
                                        <section>
                                          <div class="categoria categoriaPobreza">  
                                            <span class="numeroGrandeCategoria colorCeleste"> 7%</span> 
                                            <br /> <br /> de los habitantes de la comuna son pobres. Esto es similar a los que pasa en  <span class="colorCeleste">Tumbuctú </span>
                                             </div>
                                         </section>
                                          <section class="infoNacional"> El promedio nacional es de <span class="colorRojo"> 8.413 </span>
                                          habitantes inscritos en FONASA por cada servicio de salud.
                                         </section>
                                      </div>
                                  </article>
                            </div>
                     </div>
           
           
            
        </div>
      </div>
        
       

        
       
       
       </div>