{% extends "base_sub_menu.html" %}



{% block content %}
 <!-- páginaCompleta--> 
 <div class="paginaCompleta">       
    
      {% block top-content %}
      {% endblock top-content %}

  <div class="row-fluid">   
    {% if elecciones_destacadas|length >= 1 and elecciones_buscables|length >= 1 %}
    <!-- this case includes the block of featured elections and the searchbox for searchable elections -->
     
     <!-- Featured Election block -->
      <div class="contenedorDestacado">
        <ul>
          {% for eleccion_destacada in elecciones_destacadas %}
            <div class="destacado tipoEleccion{{ forloop.counter }}">
              <div class="contenidoDestacado">
                <a href="{{ eleccion_destacada.slug }}">
                  <h2 class="tituloDestacado">{{eleccion_destacada.nombre}}</h2>
                </a>
              <p class="textoDestacado">{{eleccion_destacada.featured_caption}}</p> 
              </div>
            </div>
          {% endfor %}
        </ul>
      </div> <!-- /contenedorDestacado -->

      <!-- /FeaturedBlock -->

      <!-- Searchable elections Block -->

      <div class="buscadorPpal">
        <img class="candidatos" src="{{ STATIC_URL }}images/candidatos.png" alt="">
        <h3> <center>Revisa y comparte información de tu comuna y candidatos </center></h3>
        <center>
          <form class="form-search form-search-eleccion"> 
          <p> Escribe el nombre de la comuna que te interesa</p>
          <input type="text" id="elecciones-search" class="input-xxlarge search-query elecciones-search">
          <p class="eleccion-search-error">Debes seleccionar una comuna</p>
          <br/> <br/>
          <p> <em> Hazle pregúntas a los candidatos | Elige a tu media naranja | Fiscaliza 
          </em></p> 
          </form>
        </center> 
      </div> <!-- /buscador ppal -->
     
      <!--/SearchableBlock--> 

    {% elif elecciones_destacadas|length >= 1 and elecciones_buscables|length < 1 %}
      <!-- this case include JUST the block of featured elections -->
      <!-- Featured Election block -->
      <div class="contenedorDestacado">
        <ul>
          {% for eleccion_destacada in elecciones_destacadas %}
            <div class="destacado tipoEleccion{{ forloop.counter }}">
              <div class="contenidoDestacado">
                <a href="{{ eleccion_destacada.slug }}">
                  <h2 class="tituloDestacado">{{eleccion_destacada.nombre}}</h2>
                </a>
              <p class="textoDestacado">{{eleccion_destacada.featured_caption}}</p> 
              </div>
            </div>
          {% endfor %}
        </ul>
      </div><!-- /contenedorDestacado -->
    {% elif elecciones_destacadas|length < 1 and elecciones_buscables|length >= 1 %}
      <!-- this case includes JUST the searchbox for searchable elections -->
      <!-- Searchable elections Block -->
      <div class="buscadorPpal">
        <img class="candidatos" src="{{ STATIC_URL }}images/candidatos.png" alt="">
        <h3> <center>Revisa y comparte información de tu comuna y candidatos </center></h3>
        <center>
          <form class="form-search form-search-eleccion"> 
          <p> Escribe el nombre de la comuna que te interesa</p>
          <input type="text" id="elecciones-search" class="input-xxlarge search-query elecciones-search">
          <p class="eleccion-search-error">Debes seleccionar una comuna</p>
          <br/> <br/>
          <p> <em> Hazle pregúntas a los candidatos | Elige a tu media naranja | Fiscaliza 
          </em></p> 
          </form>
        </center> 
      </div> <!-- /buscador ppal -->
    {% endif %}
  </div> <!-- /rowfluid -->
        
                
          <!-- ticker ultimas preguntas y respuestas -->
          <script type="text/javascript">
              $(document).ready(function(){
                  $('.barra_noticias').easyTicker({
                      visible: 1,
                      interval: 5000
                  });
              });
          </script>
          <!-- / ticker -->
                  
                 
                   
          <script>
            $(document).ready(function() {
              // Handler for .ready() called.
               $("#dyna img[title]").tooltip({
                offset: [10, 2],
                 effect: 'slide'
                });
            });
          </script>
                    
    
    </div><!-- / páginaCompleta--> 

      {% block bottom-content %}
      {% endblock bottom-content %} 

</div> <!-- /container (apparently started on base_sub_menu.html) --> 
        
        
    
        
        {% endblock content %}


  {% block extra_js %}
  <script type='text/javascript'>iticker_id = 2513;</script>
<script src="http://static.itickerapp.com/iticker_seed.js" type="text/javascript"></script>

<style type="text/css">
    .barra_noticias{
        border: 3px solid #CE00CE;
        margin-top: 12px;
        font-size: 12px;
        max-height: 60px;
        background:#663399 url('{{ STATIC_URL }}images/signoInterrogacion.png') no-repeat 20px 0px ;
        color: white;
        border-radius: 10px;
    }
    .barra_noticias ul li{
        padding: 5px 10px 5px 80px;
    }
</style>

  {% endblock extra_js %}
