{% extends "base_sub_menu.html" %}
{% block content %}
<style type="text/css">
.row-fluid .span3 {
width: 18.19%;
}
</style>
<div class="container paginaCompleta">
  <div class="row-fluid">
    <div class="span12 thumbnail" style="padding: 8px; text-align:center">
      <div> <img src="{{ STATIC_URL }}images/01-jpg.jpg" alt="Candidatos 2013" width="922" height="402" /> </div>
      {% if elecciones_destacadas|length >= 1 and elecciones_buscables|length >= 1 %} 
      <!-- this case includes the block of featured elections and the searchbox for searchable elections --> 
      <!-- Featured Election block -->
      <div class="contenedorDestacado">
        <ul>
          {% for eleccion_destacada in elecciones_destacadas %}
          <div class="destacado tipoEleccion{{ forloop.counter }}">
            <div class="contenidoDestacado"> <a href="{{ eleccion_destacada.slug }}">
              <h2 class="tituloDestacado">{{eleccion_destacada.nombre}}</h2>
              </a>
              <p class="textoDestacado">{{eleccion_destacada.featured_caption}}</p>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
      <!-- Searchable elections Block -->
      <div class="buscadorPpal"> <img class="candidatos" src="{{ STATIC_URL }}images/candidatos.png" alt="">
        <h3>
          <center>
            Revisa y comparte información de tu comuna y candidatos
          </center>
        </h3>
        <center>
          <form class="form-search form-search-eleccion">
            <p> Escribe el nombre de la comuna que te interesa</p>
            <input type="text" id="elecciones-search" class="input-xxlarge search-query elecciones-search">
            <p class="eleccion-search-error">Debes seleccionar una comuna</p>
            <br/>
            <br/>
            <p> <em> Hazle pregúntas a los candidatos | Elige a tu media naranja | Fiscaliza </em></p>
          </form>
        </center>
      </div>
      {% elif elecciones_destacadas|length >= 1 and elecciones_buscables|length < 1 %} 
      <!-- this case include JUST the block of featured elections --> 
      <!-- Featured Election block -->
      <div class="contenedorDestacado">
        <ul>
          {% for eleccion_destacada in elecciones_destacadas %}
          <div class="destacado tipoEleccion{{ forloop.counter }}">
            <div class="contenidoDestacado"> <a href="{{ eleccion_destacada.slug }}">
              <h2 class="tituloDestacado">{{eleccion_destacada.nombre}}</h2>
              </a>
              <p class="textoDestacado">{{eleccion_destacada.featured_caption}}</p>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
      {% elif elecciones_destacadas|length < 1 and elecciones_buscables|length >= 1 %} 
      <!-- this case includes JUST the searchbox for searchable elections --> 
      <!-- Searchable elections Block -->
      <div class="buscadorPpal"> <img class="candidatos" src="{{ STATIC_URL }}images/candidatos.png" alt="">
        <h3>
          <center>
            Revisa y comparte información de tu comuna y candidatos
          </center>
        </h3>
        <center>
          <form class="form-search form-search-eleccion">
            <p> Escribe el nombre de la comuna que te interesa</p>
            <input type="text" id="elecciones-search" class="input-xxlarge search-query elecciones-search">
            <p class="eleccion-search-error">Debes seleccionar una comuna</p>
            <br/>
            <br/>
            <p> <em> Hazle pregúntas a los candidatos | Elige a tu media naranja | Fiscaliza </em></p>
          </form>
        </center>
      </div>
      {% endif %} </div>
    
    <!-- ticker ultimas preguntas y respuestas --> 
    <script type="text/javascript">
    $(document).ready(function(){
        $('.barra_noticias').easyTicker({
            visible: 1,
            interval: 5000
        });
    });
</script> 
    <script>
                        $(document).ready(function() {
                          // Handler for .ready() called.
                           $("#dyna img[title]").tooltip({
                            offset: [10, 2],
                             effect: 'slide'
                            });
                        });
                      </script>
    <div class="container"><br />
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span3"><a href="#" class="thumbnail" style="width:168px;"><img src="{{ STATIC_URL }}images/02-png.png" alt="Presidentes" name="over1" onmouseover="document.over1.src='{{ STATIC_URL }}images/13-png.png'"
onmouseout="document.over1.src='{{ STATIC_URL }}images/02-png.png'"></a>
            <h5>Presidente</h5>
          </li>
          <li class="span3"><a href="#" class="thumbnail" style="width:168px;"><img src="{{ STATIC_URL }}images/03-png.png" alt="Vice-Presidente" name="over2" onmouseover="document.over2.src='{{ STATIC_URL }}images/14-png.png'"
onmouseout="document.over2.src='{{ STATIC_URL }}images/03-png.png'"> </a>
            <h5>Vice-Presidente</h5>
          </li>
          <li class="span3"><a href="#" class="thumbnail" style="width:168px;"><img src="{{ STATIC_URL }}images/04-png.png" alt="Senadores" name="over3" onmouseover="document.over3.src='{{ STATIC_URL }}images/15-png.png'"
onmouseout="document.over3.src='{{ STATIC_URL }}images/04-png.png'"> </a>
            <h5>Senadores</h5>
          </li>
          <li class="span3"><a href="#" class="thumbnail" style="width:168px;"><img src="{{ STATIC_URL }}images/05-png.png"  alt="Diputados" name="over4" onmouseover="document.over4.src='{{ STATIC_URL }}images/16-png.png'"
onmouseout="document.over4.src='{{ STATIC_URL }}images/05-png.png'"> </a>
            <h5>Diputados</h5>
          </li>
          <li class="span3"><a href="#" class="thumbnail" style="width:168px;"><img src="{{ STATIC_URL }}images/06-png.png" alt="Parlasur" name="over5" onmouseover="document.over5.src='{{ STATIC_URL }}images/17-png.png'"
onmouseout="document.over5.src='{{ STATIC_URL }}images/06-png.png'"> </a>
            <h5>Parlasur</h5>
          </li>
          <div class="row-fluid">
            <li class="span6" style="width:480px;"><a href="{% url ranking %}" class="thumbnail"> <img src="{{ STATIC_URL }}images/07-png.png" alt="Ranking de candidatos"> </a> </li>
            <li class="span4" style="width:210px;"><a href="#" class="thumbnail"> <img src="{{ STATIC_URL }}images/12-png.png" alt="Encontrá a tu candidato ideal"> </a> </li>
            <li class="span3 thumbnail" style="width:210px;">
              <ul class ="listadoMenuHome">
                <li class="itemListaServel"><a href="/presidenciales/preguntales" class="btn btn-block">Preguntale a tu candidato</a></li>
                <li class="itemListaServel"><a href="#" class="btn btn-block">Encuestadores voluntarios</a></li>
                <li class="itemListaServel"><a href="#" class="btn btn-block">¿Sos candidato? ¡Contactanos!</a></li>
                <li class="itemListaServel"><a href="#" class="btn btn-block">Cuestionario para Candidatos/as</a></li>
                <li class="itemListaServel"><a href="#" class="btn btn-block">¿D&oacute;nde voto?</a></li>
              </ul>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row-fluid">
{% endblock content %}

  {% block extra_js %}
<style type="text/css">
    .barra_noticias{
        border: 3px solid #CE00CE;
        margin-top: 12px;
        font-size: 12px;
        max-height: 60px;
        background:#663399 url('{{ STATIC_URL }}images/signoInterrogacion.png') no-repeat 20px 0px ;
        color: white;
        border-radius: 10px;
    }
    .barra_noticias ul li{
        padding: 5px 10px 5px 80px;
    }

</style>
{% endblock extra_js %} 