{% extends "base_sub_menu.html" %}
{% block content %}

<div class="paginaCompleta container">
			
       
<div>
<img src="{{ STATIC_URL }}images/quienesSomos.png" /> 
</div>

<br/>
<br/>
<br/>

    	<p>

        El Centro de Información y Recursos para el Desarrollo - CIRD (www.cird.org.py) es una
        fundación comunitaria que trabaja desde el año 1988 con el fin de apoyar a las organizaciones
        de la sociedad civil, en acciones que apuntan a propiciar la participación ciudadana en el
        proceso de la toma de decisión pública, para fomentar un cambio positivo y sostenido en el
        país.

        El Área de Comunicación del CIRD ha iniciado desde el año 2006 la campaña "A Quiénes
        Elegimos", una iniciativa de transparencia electoral enfocado a generar información para la
        ciudadanía sobre los candidatos a las elecciones municipales. Este proyecto ha continuado en
        el 2008, con el objetivo de difundir información sobre los candidatos a las elecciones generales
        del 20 de abril de 2008, y luego poniendo a disposición de los ciudadanos información sobre
        las autoridades del Poder Ejecutivo, Legislativo y Judicial, promoviendo de esta forma el
        acercamiento de las autoridades con la ciudadanía.

        Con esta iniciativa buscamos generar mayor acceso a la información pública por parte de la
        ciudadanía, fortalecer el proceso democrático en Paraguay y promover el voto informado.
        La transparencia y la responsabilidad en el ejercicio de la función pública son pilares
        fundamentales de la democracia.

        “A Quiénes Elegimos” pone a disposición en este año 2013 un Banco de Datos de carácter
        público donde los ciudadanos pueden informarse acerca de los candidatos, trayectorias y
        propuestas, así como realizar consultas ciudadanas a las diferentes candidaturas a cargos
        públicos.

        “A Quiénes Elegimos” cuenta con la cooperación financiera de Fundación Nacional para la
        Democracia – NED (www.ned.org) y la empresa privada PETROBRAS (www.petrobras.com/
        es/paises/paraguay/paraguay.htm). Así también cuenta con la cooperación técnica de la
        Fundación Ciudadano Inteligente de Chile (www.ciudadanointeligente.org) y del Tribunal
        Superior de Justicia Electoral – TSJE (www.tsje.gov.py).

        Cuenta además con alianzas con diferentes iniciativas y organizaciones civiles no
        gubernamentales como:

        •
        •
        •
        •

        Juventud Que Se Mueve (www.jqm.org.py)
        Asunción Nos Une (www.asuncionnosune.org.py)
        Reacción Juvenil de Cambio de Ciudad del Este (www.facebook.com/reaccionpy)
        Red Encarnacena de Voluntariado (www.facebook.com/
        RedEncarnacenaDeVoluntariado)

        •
        •

        Red “Somos Voluntarios por un Paraguay Mejor” (www.somosvoluntariospy.org)
        Voto Informado (www.votoinformado.com.py)
      </p>
        
        </div>
        
          {% endblock content %}