{% extends "base_sub_menu.html" %}
{% block content %}

<div class="paginaCompleta container">
			
       
<div>
<img src="{{ STATIC_URL }}images/quienesSomos.png" /> 
</div>

<br/>
<br/>
<br/>

    	<p>

        Todos los senadores separados en 3 grupos:

        <ul>
<li><a href="senadores-no-1">Senadores 1</a></li>
<li><a href="senadores-no-2">Senadores 2</a></li>
<li><a href="senadores-no-3">Senadores 3</a></li>
        </ul>
      </p>
        
        </div>
        
          {% endblock content %}