 /*variables box*/

		.row-fluid [class*="span"].box{
			margin-top: 26px;
			margin-left: 1%;
		}
 		.box-contentwrap::before, .box-top::before {
			content: '';
			position: absolute;
			height: 16px;
			width: 16px;
			display: block;

		}
		.box-contentwrap {
			width: 86%;
			background: url(../images/cubo/right-side.png) -1px 0px repeat-y white;
			margin: 0;
			padding: 9px 3% 9px 9%;
			border-left: 0;
			position: relative;
			text-align: center;
		}
		.box-contentBlue{
			background-color: #1A83C6;
			padding: 15px;
			text-align: center;
		}
		.box-contentBlue a, .box-contentBlue a:hover{ color: #fff; text-decoration: none;}
		.box-contentBlue:hover{
			background-color: #55B2D2;
		}
				
		.box-contentwrap::before {
			background: url(../images/cubo/bottom-after.png) -1px 0px no-repeat transparent;
			bottom: 0;
			left: 0px;


		}	

		.box-top{
			height: 15px;
			width: 86%;
			margin: 0;
			padding: 0 6%;
			background: url(../images/cubo/top.png) no-repeat right 0;
			position: relative;
			margin-right: 0;
		}

		.box-top::before{
			background: url(../images/cubo/top-left.png) 1px 1px no-repeat transparent;			
			top: 0px;
			left: 0px;
		}
	
		.box-top::after{
			content: '';
			background: #fff;
			top: -24px;
			left: 41%;
			height: 45px;
			width: 75px;
			display: block;
			position: absolute;
			background: url(../images/cubo/voto.png) no-repeat 0 0 transparent;
		}
		.box-color{
			background-color: #049CDB;
			color: #049CDB;
		}
		.box:nth-child(3n + 1){
			clear: left;
		}
		/*blue*/
		.box:nth-child(6n + 3) .box-color{
			background-color: rgb(64, 175, 221);
			color: rgb(64, 175, 221);
		}

		/*green*/
		.box:nth-child(6n + 1) .box-color{
			background-color: #AED82E;
			color: #AED82E;
		}

		/*yellow*/
		.box:nth-child(6n + 2) .box-color{
			background-color: #FFC200;
			color: #FFC200;
		}

		/*red*/
		.box:nth-child(6n+4) .box-color{
			background-color: #F05151;
			color: #F05151;
		}

		/*purple*/
		.box:nth-child(6n+5) .box-color{
			background-color: #932780;
			color: #932780;
		}

		.box-color a h2{
			color: #fff;
			min-height: 74px;
			padding: 0 15px;
		}

		.votos{
			background: url(../images/cubo/bg-votos.png) repeat-x 20px -6px transparent;
			display: block;
			padding: 24px 10px 5px;
			margin-top: -10px;
			min-height: 70px;
		}
		.votos p{background-color: rgba(255, 255, 255, 0.66);}

	
		/*center box*/
		
		.center-box .box-contentwrap{
			background: white;
			padding: 9px 4%;
			width: 90%;

		}

	
			.center-box .box-top::before {
			background: url(../images/cubo/top.png) -1px 0px no-repeat white;
			left: 0;
		}


		.center-box .box-contentwrap::before{background: none;}

		/* fix single box */
.span12.box .box-contentwrap{
	width: 90%;
	padding: 9px 3% 9px 5%;
}	
.span8.box .box-contentwrap{
	width: 89%;
	padding: 9px 3% 9px 6%;
}	

